*,
*:before,
*:after {
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2,
h3 {
  margin: 0;
}

.btn {
  border-radius: 5px;
  cursor: pointer;
  padding: 0.4rem 0.8rem;
  background-color: #ffffff;
  border: 1.25px solid #bcbcbc;
  transition: all 0.25s ease;
}

.btn:hover {
  background-color: #46e2a1;
  border: 1.25px solid #ffffff;
  color: #ffffff;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col + .flex-col {
  margin-left: 1.2rem;
}

